In [16]:
# Built in functions can be applied directly
#type() obtains the type of variable we use as arguments, they identify variables as sen in cells 1 - 3:
# Integer
type(10)

int

In [17]:
# String
type("word")

str

In [18]:
# Float
type(10.5)

float

In [6]:
# Find the highest value from a sequence of numbers using max()
max(10, 20, 30)

30

In [19]:
# Find the lowest value from a sequence of numbers using min()
min(10, 20, 30,)

10

In [20]:
# abs() allows us to obtain absolute Value
z = -20
abs(z)

20

In [22]:
# consider the following list to demonstrate how the sum function works
list_1 = [1,2,3,4]

In [25]:
# sum() calculates the total of all the elements in a list designated as an argument
sum(list_1)

10

In [26]:
# Use round(x, y) to return the float of argument "x", rounded to a specified number of digits "y" after the decimal point
round(3.555, 2)

3.56

In [13]:
# If the number of digits is not indicated, it defaults to zero
round(3.2)

3

In [14]:
2 ** 10

1024

In [27]:
# pow() function returns x to the y power
pow(2, 10)

1024

In [28]:
# len() returns the number of elements in an object
len("how many characters in this statement?")

38